html {
    font-family: sans-serif;
}

html[lang="ar"] {
    font-family: "QFArabic", sans-serif;
}

@font-face {
    font-family: "QFArabic";
    src: url("/fonts/Almarai-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    /* CLS safe */
}

@font-face {
    font-family: "QFArabic";
    src: url("/fonts/Almarai-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}